# Ignore compiled files
*.o
*.out

# Ignore temporary files
*~

# Ignore project-specific files and directories
/node_modules
/build
/dist

# Ignore sensitive information
config.ini
secrets.json

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.iml

# Ignore macOS specific files
.DS_Store

# Ignore logs
*.log

# Ignore __pycache__ directories
__pycache__/

# Ignore env directory
env/
